
/*=============================================
=            Block des taille de police            =
=============================================*/

.ft40 {
    font-size: 40px;
}

.ft35 {
    font-size: 35px;
}

.ft30 {
    font-size: 30px;
}

.ft25 {
    font-size: 25px;
}

.ft20 {
    font-size: 20px;
}

.ft15 {
    font-size: 15px;
}




/*=====  End of Block des taille de police  ======*/

